html{
    background-color: #363636;
}

body{
    border: 5px solid   black;
    border-bottom: none;

    background-color: #272727;
    width: 75%;
    margin: 15%;
}


img{
    height: 150px;
    width: auto;
}
section{
    /*background-color: #0a9e9b;*/
    
    background:linear-gradient(to top, #6e0101, #272727);
    width: 90%;
    height: auto;
    float: left;
    clear: left;
    padding: 5%;
    margin-left: -5px;;
    border: 5px solid   black;
    border-top: none;


}
.box{
    width: 450px;
    height: 200px;
    margin: 1%;
    margin-left: 24%;
    background-color: black;
    color: white;
    border: 5px solid #4b4b4b;
    box-shadow: 0 5 gray;
    text-align: center;
    overflow:scroll;
    text-overflow:ellipsis;
    -webkit-text-overflow: ellipsis;

}
p{
    text-align: center;
    color: white ;
}

h2{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
